// COLORS
main = #34495e;
mainHover = rgba(0, 0, 0, 0.42);
hover = darken(main, 50%)
mainLight = #a04000;
sec  = #aed6f1
lightGray = #F2F2F2
texts = #333333
colorcode = #a04000
blackBase =  #212f3c
neotree = #2f2f33
// Resolution
cut = 37.5rem
